<!DOCTYPE html>
<html>
<head>
	<title>ytd-admin</title>
	<script src="./assets/js/socket.io.min.js"></script>
	<script src="https://vuejs.org/js/vue.js"></script>
	<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css">
</head>
<body>
	<div class="container" id="root">
		<div class="page-header"><h3>YouTube Doorway</h3></div>
		<div class="row">
			<!-- Worker -->
			<div class="col-md-4" v-for="worker in workers">
				<!-- Panel -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#">
							<span class="glyphicon glyphicon-tint" style="color:#0080ff" />
						</a>
						{{ worker.droplet.host }}
						<div class="pull-right">
							{{ worker.droplet.ip }}
						</div>
					</div>
					<!-- Table -->
					<table class="table">
						<tbody>
							<!-- Account -->
							<tr v-for="account in worker.accounts">
								<td>
									
									<div><small style="color:grey">
										#{{account.id}} - {{account.uploaded_videos}} / {{account.total_uploaded_videos}} - {{(account.status) ? account.status : 'sleep'}}
									</small> </div>
								</td>
							</tr>
							<!-- Account/end -->

						</tbody>
					</table>
				</div>
				<!-- Panel/end -->
			</div>
			<!-- Worker -->

		</div>
	</div>
	<script src="./assets/js/app.js"></script>
</body>
</html>